.role-form-item .ant-form-item-explain,
.role-form-item .ant-form-item-extra {
    margin-left: 48px;
}

.joinedDate-form-item .ant-form-item-explain,
.joinedDate-form-item .ant-form-item-extra {
    margin-left: 4px;
}

.name-form-item .ant-form-item-explain,
.name-form-item .ant-form-item-extra {
    margin-left: 12px;
}

.ant-spin-nested-loading {
    width: 100% !important;
    margin-top: 70px;
}

.ant-spin-container {
    display: flex;
    justify-content: center;
}