.usertable
  .ant-table-tbody
  .ant-table-row.row-Waitingforacceptance
  > .ant-table-cell-row-hover {
  background: transparent !important;
  cursor: not-allowed !important;
}

.viewtable
  .ant-table-tbody
  .ant-table-row
  > .ant-table-cell-row-hover {
  background: transparent !important;
  cursor: default !important;
}

.custom-select .ant-select-selector, 
.custom-size-changer .ant-select-selector{
  border-color: #d6001c;
}

.custom-search .ant-input-clear-icon:hover,
.custom-search .ant-input-search-button:hover,
.custom-search .ant-input-affix-wrapper-focused .ant-input-clear-icon,
.custom-search .ant-input-affix-wrapper-focused,
.custom-search .ant-input-affix-wrapper:hover,
.custom-select .ant-select-selector:hover,
.custom-select .ant-select-focused .ant-select-selector,
.custom-select .ant-select-selector:focus,
.custom-select .ant-select-selector:focus-within,
.custom-select .ant-select-open .ant-select-selector,
.custom-select .ant-select-clear:hover,
.custom-select .ant-select-selection-item:hover,
.custom-size-changer:hover .ant-select-selector,
.custom-size-changer .ant-select-selector:hover,
.custom-size-changer .ant-select-focused .ant-select-selector,
.custom-size-changer .ant-select-selector:focus,
.custom-size-changer .ant-select-selector:focus-within,
.custom-size-changer:hover .ant-select-selector {
  border-color: #d6001c !important;
}

.custom-select .ant-select-selector:active,
.custom-select .ant-select-selector:focus-visible,
.custom-size-changer .ant-select-selector:active,
.custom-size-changer .ant-select-selector:focus-visible {
  box-shadow: 0 0 0 2px rgba(214, 0, 28, 0.2) !important; 
}

.custom-select.ant-select.ant-select-outlined.ant-select-compact-item.ant-select-compact-first-item.ant-select-compact-last-item:hover .ant-select-selector,
.custom-select.ant-select.ant-select-outlined.ant-select-compact-item.ant-select-compact-first-item.ant-select-compact-last-item:focus .ant-select-selector,
.custom-select.ant-select.ant-select-outlined.ant-select-compact-item.ant-select-compact-first-item.ant-select-compact-last-item.ant-select-open .ant-select-selector {
  border-color: #d6001c !important;
  box-shadow: 0 0 0 2px rgba(214, 0, 28, 0.2) !important;
}

.custom-search .anticon,
.custom-select .ant-select-suffix,
.custom-select .ant-select-suffix:hover,
.custom-size-changer .ant-select-suffix,
.custom-size-changer .ant-select-suffix:hover {
  color: #d6001c !important; 
}

.ant-btn:hover .anticon,
.ant-btn:focus .anticon,
.anticon-search .anticon:hover,
.custom-search .anticon:hover{
  color: white !important;
}

.ant-picker:hover, 
.ant-picker-focused,
.ant-input:hover,
.ant-input-focused,
.ant-radio-wrapper:hover .ant-radio,
.ant-radio-wrapper:focus-within .ant-radio,
.ant-select-selector:hover,
.ant-select-selector:focus,
.ant-input-textarea:hover,
.ant-input-textarea:focus,
.ant-input-textarea-focused,
.ant-input-affix-wrapper:hover,
.ant-input-affix-wrapper-focused,
.ant-input-textarea-affix-wrapper-focused  {
  border-color: #d6001c !important;
  box-shadow: 0 0 0 2px rgba(214, 0, 28, 0.2) !important;
}

.custom-search:hover .ant-input {
  border-color: transparent !important;
  box-shadow: none !important; 
}

.custom-search:hover .ant-input-affix-wrapper,
.custom-search .ant-input-affix-wrapper-focused {
  border-color: #d6001c !important; 
}

.ant-btn:hover,
.ant-btn:focus {
  background-color: #d6001c !important;
  color: white !important;
}

.ant-btn:hover .check-icon,
.ant-btn:focus .check-icon {
  color: white !important;
}

.ant-btn[disabled]:hover,
.ant-btn[disabled]:focus,
.ant-btn:disabled:hover,
.ant-btn:disabled:focus {
  background-color: rgba(0, 0, 0, 0.04) !important;
  color: initial !important;
  cursor: not-allowed !important;
}

.custom-size-changer .ant-select-selector {
  color: #d6001c; 
}