.ant-menu-dark,
.ant-menu-dark .ant-menu-item {
  border-radius: 0 !important;
  background-color: #f1f3f6 !important;
  color: #000000 !important;
  border-bottom: 2px solid white !important;
  margin: 0 !important;
  width: 100%;
  font-size: 20px;
  height: 60px;
}

.ant-layout-sider {
  max-width: 250px !important;
  min-width: 250px !important;
}

.ant-modal-title {
  font-size: 20px !important;
}

.ant-menu-dark .ant-menu-item-selected {
  background-color: #d6001c !important;
  color: #ffffff !important;
}

.ant-menu-dark .ant-menu-item:hover {
  color: #d6001c !important;
  background-color: #ffffff;
}

.ant-radio-wrapper .ant-radio-checked .ant-radio-inner {
  border-color: #d6001c !important;
  background-color: #d6001c !important;
}

.ant-table-tbody > tr:hover {
  cursor: pointer;
}

.ant-menu-dark .ant-menu-item-selected:hover {
  background-color: #d6001c !important;
  color: #ffffff !important;
}