.custom-modal .ant-modal-content {
  border-radius: 8px;
}

.custom-modal .ant-modal-header {
  border-bottom: none;
}

.custom-modal .modal-title {
  color: #d6001c;
  font-weight: bold;
}

.custom-modal .ant-modal-close-x {
  width: 32px;
  height: 32px;
  line-height: 32px;
  background: #f1f1f1;
  border-radius: 50%;
  text-align: center;
}

.custom-modal .ant-modal-close-x:hover {
  background: #d6001c;
  color: white;
}

.modal-content {
  padding: 20px;
}

.modal-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.modal-label {
  font-weight: bold;
}
